/* :root {
  --pr-color: #afc50a;
  --second-color: #0a0a0a;
  --cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
  --fz-big: 70px;
  --indent: 100px;
}

* {
  box-sizing: border-box;
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  font-feature-settings: "pnum" on, "lnum" on;
}

body {
  background: var(--second-color);
}

.wrapp {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
  z-index: 1;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  height: auto;
  padding: 0 var(--indent);
}

.title {
  margin: 0;
  font-size: var(--fz-big);
  text-transform: uppercase;
  color: var(--pr-color);
}

.title span {
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.marquee{
  margin-top: 100px;
}

.marquee + .marquee{
  margin-top: 0px;
  border-top: 1px solid var(--pr-color);
}

.marquee__bl{
  background: #171717;
  padding: 20px 0;
}

.marquee__text{
  display: inline-block;
  position: relative;
  padding-right: 120px;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--pr-color);
}

.marquee__text span{
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
} */

* {
  margin: 0;
  padding: 0;
}

.splide {
  width: 20%;
}

.container {
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
}

img {
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
