---
import C2MainPage from "../components/MainPage.astro";
---

<C2MainPage>
  <section>
    <div class="w-10/12 m-auto pb-16 pt-40">
      <div
        class="relative z-10 text-black dark:text-white 3xl:text-[10rem] xl:text-9xl text-8xl resp:text-6xl transition duration-300 drop-shadow-xl shadow-black"
      >
        <h2 class="md:block hidden">Somos C² Developer<br /> Group</h2>
        <h2 class="md:hidden block">Somos C² Developer Group</h2>
      </div>
      <h2
        class="relative z-10 text-black dark:text-white font-['Smooch_Sans'] font-medium 2xl:text-6xl xl:text-4xl text-3xl resp:text-3xl transition duration-300"
      >
        Un grupo de <b>desarrolladores y diseñadores</b> que busca exponenciar proyectos
        a través de <b>páginas web, e-commerce y aplicaciones móviles.</b>
      </h2>
      <button
        class="w-auto bg-transparent hover:border-blue-800 hover:text-blue-800 cursor-pointer cursor-pointer transition duration-300 border-[0.005rem] md:mt-6 mt-3 border-black text-black font-['Bebas_Neue'] md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-2xl"
      >
        Contáctanos
      </button>
    </div>
  </section>
  <section
    class="bg-[url('/110428-black-and-blue-blurred-background-vector.jpg')] bg-cover bg-bottom h-[100vh] pt-10"
  >
    <h2 class="text-white md:text-7xl text-5xl font-bold text-center">
      ¿Qué tecnologías usamos?
    </h2>
  </section>
</C2MainPage>
