---
import { FaArrowRight, FaStore } from "react-icons/fa/index";
import { IoPhonePortraitOutline } from "react-icons/io5/index";
import { MdApps, MdDevices } from "react-icons/md/index";
import { MarqueeComponent } from "../components/MarqueeCustomers";
import C2MainPage from "../components/MainPage.astro"
import C2ReviewCarousel from "../components/ReviewCarousel.astro"
import C2ProyectosCarousel from "../components/ProyectosCarousel.astro"
import C2NavHeader from "../components/NavHeader.astro";

import "../css/main.css"

---
<C2MainPage>
  <section class="bg-[url('/c2bg-main.png')] bg-cover bg-bottom h-[100vh]">
    <C2NavHeader invisible={true} />
    <div class="w-10/12 m-auto pt-40">
      <div class="relative z-10 text-white dark:text-white 3xl:text-[10rem] xl:text-9xl text-8xl resp:text-6xl transition duration-300 drop-shadow-xl shadow-black">
        <h2 class="md:block hidden">Exponenciamos tu <br> proyecto</h2>
        <h2 class="md:hidden block">Exponenciamos tu proyecto</h2>
      </div>
      <h2 class="relative z-10 text-white dark:text-white font-['Smooch_Sans'] font-bold 2xl:text-7xl xl:text-5xl text-4xl resp:text-4xl transition duration-300">
        E-commerce, páginas web y aplicaciones.
      </h2>
      <button class="w-auto bg-transparent border-[0.005rem] md:mt-6 mt-3 border-white text-white font-['Bebas_Neue'] md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-2xl">
        Contáctanos
      </button>
    </div>
    <div class="md:min-h-[calc(50vh-5rem)] sm:min-h-[calc(50vh-4rem)] tiny:min-h-[calc(40vh-4rem)] min-h-[calc(30vh-4rem)] md:h-[calc(20vw-5rem)] h-[calc(20vw-4rem)]">
    </div>
  </section>
  <section class="m-auto flex gap-5 justify-evenly flex-wrap items-center transition duration-300">
    <MarqueeComponent
      logosTop={
        [
          {
            src: "/bynxlogoblack.png",
            class: "w-54 h-24 cursor-pointer hover:scale-110 transition duration-300"
          },
          {
            src: "/serologoblack.png",
            class: "w-54 h-24 cursor-pointer hover:scale-110 transition duration-300",
            href: "https://sero-project.vercel.app/"
          },
          {
            src: "/jonoappslogoblack.png",
            class: "w-54 h-36 cursor-pointer hover:scale-110 transition duration-300",
            href: "https://jonoapps.com"
          },
          {
            src: "/melaologoblack.png",
            class: "w-54 h-24 cursor-pointer hover:scale-110 transition duration-300"
          },
          {
            src: "/sebasphotographylogoblack.png",
            class: "w-54 h-40 cursor-pointer hover:scale-110 transition duration-300"
          },
          {
            src: "/c2logoblack.png",
            class: "w-54 h-24 cursor-pointer hover:scale-110 transition duration-300"
          },
        ]}
      />
  </section>
  <section class="to-40% md:py-40 pb-40 pt-10">
    <div class="w-full flex flex-row flex-wrap gap-32 justify-center">
      <div id="c2dev-nuestro-enfoque-text" class="md:w-3/5 w-full max-w-[768px]">
        <h2 class="md:text-8xl sm:text-5xl text-4xl text-black md:ms-40 ms-4">Nuestro enfoque</h2>
        <p class="text-black md:text-4xl text-2xl md:ms-40 ms-4">
          Brindamos un servicio de <b>aplicaciones y sitios web</b> con bases
          sólidas en <b>diseño y funcionabilidad</b> que hagan destacar a la
          empresa u organización en el internet.
        </p>
        <button class="text-black hover:text-blue-700 md:text-4xl text-2xl transition duration-300 mt-7 md:ms-40 ms-4 flex items-center gap-6">
          Contáctanos <FaArrowRight />
        </button>
      </div>
      <div id="c2dev-nuestro-enfoque-image" class="bg-[url('/c2squarelogoblack.png')] md:bg-left bg-center bg-contain bg-no-repeat md:w-2/5 md:max-w-[256px] w-full md:h-auto h-40"></div>
      <!-- <script>
        document.addEventListener("DOMContentLoaded", (_event) => {
          const c2dev_nuestro_enfoque_image = document.getElementById("c2dev-nuestro-enfoque-image")!!;
          // const c2dev_nuestro_enfoque_text = document.getElementById("c2dev-nuestro-enfoque-text")!!;

          const resizeObserver = new ResizeObserver(entries => {
            const newDim = `${entries[0]?.target.clientHeight}px`;
            c2dev_nuestro_enfoque_image.style.maxWidth = newDim;
          });
          resizeObserver.observe(c2dev_nuestro_enfoque_image);
        });
      </script> -->
    </div>
  </section>
  <section class="w-full transition duration-300 flex flex-col items-center">
    <div class="bg-[url('/110428-black-and-blue-blurred-background-vector.jpg')] bg-cover bg-center w-full p-10">
      <h2 class="text-white md:text-7xl text-5xl font-bold text-center">
        ¿Qué hacemos?
      </h2>
    </div>
    <div class="flex flex-col items-center py-6 w-full">
      <div class="flex flex-row w-full md:h-[calc(100vh-4.75rem)] tallratio:h-auto h-auto bg-none bg-contain bg-no-repeat bg-right-bottom 2xl:mt-10 md:mt-5 mt-2"><!-- min-h-[1000px] -->
        <div class="absolute md:block tallratio:hidden hidden -z-10 w-full h-[calc(100vh-4.75rem)] text-end"><!-- min-h-[1000px] -->
          <img
            class="inline-block 3xl:w-full 2xl:w-[70%] w-full h-full object-contain object-right-bottom"
            src="/E-commerceC2LandingPage-cropped.webp"><!-- md:w-full -->
        </div>
        <div class="flex flex-col 2xl:mx-40 md:mx-20 mx-5 2xl:mt-20 md:mt-10 mt-5 w-full">
          <div class="flex flex-row w-[100%] 2xl:mt-10 md:mt-5 mt-2">
            <div class="flex flex-row gap-4 items-center">
              <div class="bg-green-500 3xl:w-[8rem] 2xl:w-[7rem] xl:w-[6rem] md:w-[5rem] w-[3rem] 3xl:h-[8rem] 2xl:h-[7rem] xl:h-[6rem] md:h-[5rem] h-[3rem] rounded-full text-white 3xl:text-6xl 2xl:text-5xl xl:text-4xl md:text-3xl text-xl flex items-center content-center">
                <FaStore className="w-[100%]" />
              </div>
              <p class="4xl:text-9xl 3xl:text-7xl 2xl:text-7xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl text-3xl font-bold h-auto">
                E-Commerce
              </p>
            </div>
          </div>
          <p class="3xl:text-6xl xl:text-5xl md:text-4xl text-3xl 2xl:mt-20 md:mt-10 tallratio:mt-5 mt-5 h-auto 4xl:w-[40%] 3xl:w-[30%] md:w-[40%] tallratio:w-full">
            Los usuarios del internet esperan tener compras online. Melao Bags nos pidió hacer un
            e-commerce y su ventas aumentaron un 65%.
          </p>
          <p class="2xl:mt-32 md:mt-20 mt-10">
            <a href="/proyectos/melao-bags/">
              <span class="3xl:text-6xl xl:text-5xl md:text-4xl text-3xl font-bold underline">
                Ver Melao Bags {">"}
              </span>
            </a>
          </p>
        </div>
      </div>
      <img
        class="md:hidden tallratio:block block w-full"
        src="/E-commerceC2LandingPage-cropped.webp">
      <!-- *************************************************************************************** -->
      <div class="flex flex-row xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%]">
        <div class="flex flex-row gap-4 items-center">
          <div class="bg-violet-700 md:w-[5rem] w-[3rem] md:h-[5rem] h-[3rem] rounded-full text-white md:text-4xl text-3xl flex items-center content-center">
            <MdApps className="w-[100%]" />
          </div>
          <p class="md:text-5xl sm:text-4xl text-3xl font-bold h-auto">
            Portafolio y Catálogos
          </p>
        </div>
      </div>
      <div class="my-10 flex flex-row xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%]">
        <div class="flex flex-row flex-wrap gap-4 items-center justify-between">
          <div class="md:w-[30%] flex flex-row items-center justify-center">
            <img
              class="rounded-3xl shadow-lg shadow-black md:w-[100%] sm:w-10/12 w-11/12"
              src="/melaobagsscreenshot.png">
          </div>
          <p class="text-4xl h-auto md:w-[66%] md:mt-0 mt-10">
            Texto aqui texto aqui texto aqui texto aqui texto aqui texto aqui texto aqui texto
            aqui texto aqui texto aqui texto aqui texto aqui texto aqui texto aqui
            <br>
            <a href="/proyectos/???/">
              <span class="text-2xl font-bold underline">
                Ver ??? {">"}
              </span>
            </a>
          </p>
        </div>
      </div>
      <!-- ************************************************************************************* -->
      <div class="mt-10 flex flex-row xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%]">
        <div class="flex flex-row gap-4 items-center">
          <div class="bg-blue-500 md:w-[5rem] w-[3rem] md:h-[5rem] h-[3rem] rounded-full text-white md:text-4xl text-2xl flex items-center content-center">
            <MdDevices className="w-[100%]" />
          </div>
          <p class="md:text-5xl sm:text-4xl text-3xl font-bold h-auto">
            Tratamiento Responsive
          </p>
        </div>
      </div>
      <div class="my-10 flex flex-row xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%]">
        <div class="flex flex-row flex-wrap gap-5 items-center justify-between">
          <div class="relative md:w-[30%] flex flex-row items-center justify-center">
            <img
              class="rounded-3xl shadow-lg shadow-black md:w-[100%] sm:w-10/12 w-11/12"
              src="/melaobagsscreenshot.png">
            <img
              class="absolute -bottom-4 -right-4 h-[80%]"
              src="/phone.png">
          </div>
          <p class="text-4xl h-auto md:w-[66%] md:mt-0 mt-10">
            95% de los estudiantes escolares utilizan un teléfono inteligente. Rediseñamos la página
            web del Colegio San Ignacio con usuarios móviles en mente.
            <br>
            <a href="/proyectos/colegiosanignacio/">
              <span class="text-2xl font-bold underline">
                Ver concepto {">"}
              </span>
            </a>
          </p>
        </div>
      </div>
      <div class="my-10 flex flex-row xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%]">
        <div class="flex flex-row flex-wrap gap-4 items-center justify-between">
          <div class="flex flex-col justify-start gap-10 md:h-[100%] h-auto md:w-[66%]">
            <div class="flex flex-row mt-2">
              <div class="flex flex-row gap-4 items-center">
                <div class="bg-yellow-400 md:w-[5rem] w-[3rem] md:h-[5rem] h-[3rem] rounded-full text-black md:text-4xl text-3xl flex items-center content-center">
                  <IoPhonePortraitOutline className="w-[100%]" />
                </div>
                <p class="md:text-5xl sm:text-4xl text-3xl font-bold h-auto">
                  Aplicación móvil
                </p>
              </div>
            </div>
            <p class="text-4xl">
              Texto aqui texto aqui texto aqui texto aqui texto aqui texto aqui texto aqui texto
              aqui texto aqui texto aqui texto aqui texto aqui texto aqui texto aqui
              <br>
              <a href="/proyectos/???/">
                <span class="text-2xl font-bold underline">
                  Ver ??? {">"}
                </span>
              </a>
            </p>
          </div>
          <div class="md:max-w-[30%] w-[100%] h-[50vh] md:mt-0 mt-5 md:mb-0 mb-10 flex flex-row items-center justify-center">
            <img
              class="h-[100%]"
              src="/phone.png">
          </div>
        </div>
      </div>
      <div class="my-20 xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%] mx-2">
        <a href="/proyectos/">
          <p class="text-2xl font-bold underline">
            Ver más proyectos {">"}
          </p>
        </a>
      </div>
    </div>
  </section>
  <section class="bg-[url('/110428-black-and-blue-blurred-background-vector.jpg')] bg-cover bg-center transition duration-300 py-20 flex flex-col items-center gap-5 p-6">
    <h2 class="text-white md:text-7xl text-5xl font-bold text-center">
      ¿Qué dicen de nosotros?
    </h2>
    <div class="w-[100%] md:mt-10 mt-4"></div>
    <C2ReviewCarousel />
  </section>
  <section class="pb-20">
    <h2 class="md:text-6xl text-4xl text-center mb-5 mt-20">
      Algunos de nuestros trabajos
    </h2>
    <C2ProyectosCarousel />
  </section>
  <section class="bg-[url('/110428-black-and-blue-blurred-background-vector.jpg')] bg-cover bg-center transition duration-300 py-20 flex flex-col items-center gap-5 p-6 bg-black">
    <div>
      <p class="text-white md:text-4xl md:block hidden text-center">
        ¿Estás listo para hacer tu página web o aplicación <br>
        con nosotros?
      </p>
      <p class="text-white text-4xl md:hidden block text-center">
        ¿Estás listo para hacer tu página web o aplicación
        con nosotros?
      </p>
    </div>
    <!-- <button class="w-32 bg-white text-black md:text-2xl text-xl md:p-3 p-2 rounded-lg">
      Contáctanos
    </button> -->
    <button class="w-auto bg-transparent border-[0.005rem] md:mt-6 mt-3 border-white text-white font-['Bebas_Neue'] md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-2xl">
      Contáctanos
    </button>
  </section>
</C2MainPage>