---
import { FaArrowRight, FaStore } from "react-icons/fa";
import { IoPhonePortraitOutline } from "react-icons/io5";
import { MdApps, MdDevices } from "react-icons/md";
import { MarqueeComponent } from "../components/MarqueeCustomers";
import C2MainPage from "../components/MainPage.astro"

import "../css/main.css"

---
<C2MainPage>
  <section class="bg-[url('/c2bg-main.svg')] bg-cover bg-bottom">
    <div class="flex flex-row-reverse">
      <div class="absolute bg-[url('/c2fg-main-cropped.png')] bg-contain bg-no-repeat bg-right-top mt-[15vh] 4xl:mr-[15rem] 3xl:mr-[10rem] 2xl:mr-[5rem] md:mr-[1rem] mr-[0.5rem] min-h-[15rem] h-[75vh] w-[50%] min-w-[15rem]">
        <!-- sticky relative absolute fixed static -->
      </div>
    </div>
    <div class="w-10/12 m-auto pt-40">
      <h2 class="relative z-10 text-black dark:text-white 3xl:text-[10rem] 2xl:text-9xl xl:text-8xl text-7xl resp:text-6xl transition duration-300 drop-shadow-xl shadow-black">
        Exponenciamos tu <span class="text-blue-500">proyecto</span>
      </h2>
      <h2 class="relative z-10 text-black dark:text-white 2xl:text-7xl xl:text-6xl text-5xl resp:text-4xl transition duration-300">
        con{" "}
        <span class="text-transparent font-extrabold text-ecommerce bg-clip-text bg-gradient-to-r from-green-400 to-green-600">
          e-commerce
        </span>
        ,{" "}
        <span class="text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-[#00ccff] to-[#3fa9ff]">
          páginas web
        </span>
        ,{" "}
        <span class="text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-yellow-300 to-yellow-500">
          aplicaciones
        </span>
        ...
      </h2>
    </div>
    <div class="min-h-[50vh] h-[20vw]">
    </div>
  </section>
  <section class="bg-blue-700 m-auto flex gap-5 justify-evenly flex-wrap items-center transition duration-300">
    <MarqueeComponent
      logosTop={[
        {
          src: "/bynxlogowhite.png",
          class: "w-54 h-24 cursor-pointer"
        },
        {
          src: "/serologowhite.png",
          class: "w-54 h-24 cursor-pointer invert dark:invert-0"
        },
        {
          src: "/JonoAppsLogoWhite.png",
          class: "w-54 h-36 invert dark:invert-0"
        },
        {
          src: "/melaologowhite.png",
          class: "w-54 h-24 invert dark:invert-0"
        },
        {
          src: "/sebasphotographylogowhite.png",
          class: "w-54 h-40 invert dark:invert-0"
        },
        {
          src: "/c2logowhite.png",
          class: "w-54 h-24 invert dark:invert-0"
        },
      ]}
      logosBtm={[
        {
          src: "/c2logowhite.png",
          class: "w-54 h-24 invert dark:invert-0"
        },
        {
          src: "/c2logowhite.png",
          class: "w-54 h-24 invert dark:invert-0"
        },
        {
          src: "/c2logowhite.png",
          class: "w-54 h-24 invert dark:invert-0"
        },
        {
          src: "/c2logowhite.png",
          class: "w-54 h-24 invert dark:invert-0"
        },
        {
          src: "/c2logowhite.png",
          class: "w-54 h-24 invert dark:invert-0"
        },
        {
          src: "/c2logowhite.png",
          class: "w-54 h-24 invert dark:invert-0"
        },
      ]}
      />
  </section>
  <section class="bg-gradient-to-b from-blue-700 from-40% to-neutral-800 to-40% pt-0 pb-20">
    <div class="max-w-[90%] w-[50rem] md:py-20 py-10 mobl:px-8 bg-[#2a2a2a] m-auto rounded-lg flex justify-around items-center relative mobl:flex-col shadow-2xl shadow-neutral-900">
      <div class="ps-10 tiny:w-[30%] mobl:mb-10">
        <h2 class="text-6xl text-white">Nuestro enfoque</h2>
      </div>
      <div class="tiny:w-[60%] text-2xl text-white leading-9">
        <p>
          Brindamos un servicio de <b>aplicaciones y sitios web</b> con bases
          sólidas en <b>diseño y funcionabilidad</b> que hagan destacar a la
          empresa u organización en el internet.
        </p>
        <button class="text-neutral-300 hover:text-neutral-100 transition duration-300 mt-7 flex items-center gap-6">
          Contáctanos <FaArrowRight />
        </button>
      </div>
    </div>
  </section>
  <section class="w-full transition duration-300 flex flex-col items-center p-6">
    <h2 class="text-white text-7xl text-center">
      ¿Qué hacemos?
    </h2>
    <div class="mt-10 flex flex-row xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%]">
      <div class="flex flex-row gap-4 items-center">
        <div class="bg-green-500 w-[5rem] h-[5rem] rounded-full text-white text-3xl flex items-center content-center">
          <FaStore className="w-[100%]" />
        </div>
        <p class="text-white text-4xl h-auto">
          E-Commerce
        </p>
      </div>
    </div>
    <div class="mt-10 flex flex-row xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%]">
      <div class="flex flex-row gap-4 items-center">
        <div class="bg-blue-500 w-[5rem] h-[5rem] rounded-full text-white text-4xl flex items-center content-center">
          <MdDevices className="w-[100%]" />
        </div>
        <p class="text-white text-4xl h-auto">
          Tratamiento Responsive
        </p>
      </div>
    </div>
    <div class="mt-10 flex flex-row xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%]">
      <div class="flex flex-row gap-4 items-center">
        <div class="bg-yellow-400 w-[5rem] h-[5rem] rounded-full text-black text-4xl flex items-center content-center">
          <IoPhonePortraitOutline className="w-[100%]" />
        </div>
        <p class="text-white text-4xl h-auto">
          Aplicación móvil
        </p>
      </div>
    </div>
    <div class="mt-10 flex flex-row xl:w-[75rem] lg:w-[50rem] md:w-[45rem] w-[100%]">
      <div class="flex flex-row gap-4 items-center">
        <div class="bg-violet-700 w-[5rem] h-[5rem] rounded-full text-white text-4xl flex items-center content-center">
          <MdApps className="w-[100%]" />
        </div>
        <p class="text-white text-4xl h-auto">
          Portafolio y Catálogos
        </p>
      </div>
    </div>
  </section>
  <section class="bg-neutral-800">
    <h2 class="text-6xl text-center mb-5 mt-20 text-blue-500 dark:text-white">
      Algunos de nuestros trabajos
    </h2>
  </section>
  <section class="transition duration-300 my-40 flex flex-col items-center gap-5 p-6 bg-blue-700">
    <h2 class="text-white text-5xl text-center">
      ¿Estás listo para hacer tu página web o aplicación <br /> con
      nosotros?
    </h2>
    <button class="w-32 bg-white text-black text-2xl p-3 rounded-lg">
      Contáctanos
    </button>
  </section>
</C2MainPage>