---
import { MarqueeComponent } from "../components/MarqueeCustomers";
import C2AnimationParent from "../components/AnimationParent.astro";
import C2MainPage from "../components/MainPage.astro";
import C2NavHeader from "../components/NavHeader.astro";
import C2ProyectosCarousel from "../components/ProyectosCarousel.astro";
import C2ReviewCarousel from "../components/ReviewCarousel.astro";
import C2WhatWeDo from "../components/WhatWeDo.astro";
---

<C2MainPage>
  <section
    id="inicio"
    class="bg-[url('/c2bg-main.webp')] bg-cover bg-bottom min-h-[100vh]"
  >
    <C2NavHeader invisible={true} />
    <C2AnimationParent>
      <div class="w-10/12 m-auto xl:pt-28 lg:pt-40 pt-36 3xl:pt-28">
        <div
          class="c2animate slide-in-blurred-left-long relative z-10 text-white dark:text-white 3xl:text-[10rem] xl:text-9xl text-8xl resp:text-6xl drop-shadow-xl shadow-black"
        >
          <h2 class="md:block hidden">Exponenciamos tu <br /> proyecto</h2>
          <h2 class="md:hidden block">Exponenciamos tu proyecto</h2>
        </div>
        <h2
          class="c2animate slide-in-blurred-left-long relative z-10 text-white dark:text-white font-['Smooch_Sans'] font-bold 2xl:text-7xl xl:text-5xl text-4xl resp:text-4xl"
        >
          E-commerce, páginas web y aplicaciones.
        </h2>
        <div class="c2animate slide-in-blurred-left-long">
          <a href="/#contacto">
            <button
              class="hover:bg-neutral-400 hover:bg-opacity-25 cursor-pointer border-[0.005rem] md:mt-6 mt-3 border-white text-white font-['Bebas_Neue'] 4xl:text-4xl md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-3xl mb-20"
            >
              Contáctanos
            </button>
          </a>
        </div>
      </div>
    </C2AnimationParent>
  </section>
  <section class="m-auto flex gap-5 justify-evenly flex-wrap items-center">
    <MarqueeComponent
      logosTop={[
        {
          src: "/bynxlogoblack.png",
          class:
            "w-54 h-24 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: "/serologoblack.png",
          class:
            "w-54 h-24 cursor-pointer hover:scale-110 transition duration-300",
          href: "https://sero-project.vercel.app/",
        },
        {
          src: "/jonoappslogoblack.png",
          class:
            "w-54 h-36 cursor-pointer hover:scale-110 transition duration-300",
          href: "https://jonoapps.com",
        },
        {
          src: "/melaologoblack.png",
          class:
            "w-54 h-24 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: "/sebasphotographylogoblack.png",
          class:
            "w-54 h-40 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: "/c2logoblack.png",
          class:
            "w-54 h-24 cursor-pointer hover:scale-110 transition duration-300",
        },
      ]}
    />
  </section>
  <section class="to-40% pb-10">
    <C2AnimationParent>
      <div
        class="c2animate fade-in-bottom flex justify-center px-20 mobl:px-10 3xl:px-48 3xl:mt-20 mt-5"
      >
        <div
          id="c2dev-nuestro-enfoque-text"
          class="resp:w-full w-3/5 xl:p-20 lg:mt-20 flex flex-col"
        >
          <h2 class="md:text-8xl sm:text-6xl text-5xl 3xl:text-9xl">
            Nuestro enfoque
          </h2>
          <p
            class="text-black text-2xl md:text-4xl 3xl:text-5xl text-start mt-5 md:mt-10"
          >
            Brindamos un servicio de <b>aplicaciones y sitios web</b> con bases sólidas
            en <b>diseño y funcionabilidad</b> que hagan destacar a la empresa u
            organización en el internet.
          </p>
        </div>
        <div class="flex justify-center resp:hidden w-2/5 h-2/5 md:p-20">
          <img
            id="c2dev-nuestro-enfoque-image"
            src="c2squarelogoblack.png"
            class="resp:w-1/2 3xl:w-9/12"
          />
        </div>
      </div>
    </C2AnimationParent>
  </section>
  <section
    id="servicios"
    class="w-full flex flex-col items-center md:mt-20 mt-10"
  >
    <div
      class="bg-[url('/110428-black-and-blue-blurred-background-vector.webp')] bg-cover bg-center w-full p-10"
    >
      <h2 class="text-white md:text-7xl text-5xl font-medium text-center">
        ¿Qué hacemos?
      </h2>
    </div>
    <div
      class="flex flex-col items-center w-full md:gap-y-28 gap-y-5 mt-10 tiny:mt-20 md:mt-28"
    >
      <C2WhatWeDo />
    </div>
  </section>
  <section
    class="bg-[url('/110428-black-and-blue-blurred-background-vector.webp')] bg-cover bg-center py-16 mt-20 flex flex-col items-center gap-5 p-6"
  >
    <h2
      class="text-white md:text-7xl text-5xl 3xl:text-8xl font-medium text-center"
    >
      ¿Qué dicen de nosotros?
    </h2>
    <div class="w-[100%] md:mt-10 lg:mt-0 mt-4"></div>
    <C2ReviewCarousel />
  </section>
  <section>
    <C2AnimationParent>
      <div
        class="c2animate fade-in-bottom flex flex-row w-full md:h-[calc(100vh-4.75rem)] md:min-h-[700px] tallratio:min-h-0 tallratio:h-auto h-auto bg-none bg-contain bg-no-repeat bg-right-bottom 2xl:mt-10 md:mt-5 mt-2"
      >
        <div
          class="absolute md:block tallratio:hidden md:min-h-[700px] hidden resp:hidden -z-10 w-full h-[calc(100vh-4.75rem)] text-end"
        >
          <img
            class="inline-block md:w-[40%] pe-[5%] w-full h-full object-contain object-right"
            src="/soporte.svg"
          />
        </div>
        <div class="px-20 resp:px-10">
          <h2
            class="4xl:text-9xl 3xl:text-7xl 2xl:text-7xl xl:text-7xl lg:text-6xl text-5xl font-medium h-auto mt-20 resp:mt-8"
          >
            Mantenimiento y Soporte
          </h2>
          <p
            class="3xl:text-6xl xl:text-4xl md:text-4xl text-xl 2xl:mt-20 md:mt-10 tallratio:mt-5 mt-5 h-auto md:w-[50%] text-start tallratio:w-full"
          >
            Después de lanzar tu proyecto, seguimos cuidándolo. Con nuestro
            servicio de mantenimiento, nos aseguramos de que funcione bien
            siempre. Hacemos actualizaciones para mantenerlo seguro y mejoramos
            su rendimiento. Estamos aquí para que tu proyecto digital tenga
            éxito a largo plazo.
          </p>
          <p class="2xl:mt-20 md:mt-10 mt-4">
            <a href="/#contacto">
              <button
                class="w-auto bg-transparent border-[0.005rem] md:mt-3 mt-2 border-black text-black hover:border-blue-800 hover:text-blue-800 transition duration-300 cursor-pointer font-['Bebas_Neue'] 4xl:text-4xl md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-3xl"
              >
                Contáctanos
              </button>
              <!-- <span class="3xl:text-6xl xl:text-5xl md:text-4xl text-3xl font-bold underline bg-white pe-4 py-4">
              Leer más
            </span> -->
            </a>
          </p>
        </div>
      </div>
      <img
        class="c2animate fade-in-bottom hidden resp:block mobl:w-4/5 w-3/5 m-auto mt-10 object-contain object-right"
        src="/soporte.svg"
      />
    </C2AnimationParent>
  </section>
  <section id="proyectos" class="">
    <h2 class="md:text-6xl text-4xl text-center mb-5 mt-5 2xl:mt-40">
      Algunos de nuestros trabajos
    </h2>
    <C2ProyectosCarousel />
  </section>
  <C2AnimationParent>
    <div class="flex justify-center w-full my-10 c2animate fade-in-bottom">
      <a href="/proyectos">
        <button
          class="w-auto bg-transparent border-[0.005rem] md:mt-3 mt-2 border-black text-black hover:border-blue-800 hover:text-blue-800 transition duration-300 cursor-pointer font-['Bebas_Neue'] 4xl:text-4xl md:text-2xl text-xl md:px-10 px-8 md:py-3 py-2 rounded-3xl"
        >
          Ver más
        </button>
      </a>
    </div>
  </C2AnimationParent>
  <!-- <div>
    <a href="/proyectos" class="my-20 ml-8 block">
      <p
        class="md:text-4xl text-2xl font-bold underline hover:text-blue-800 transition duration-300"
      >
        Ver más proyectos {">"}
      </p>
    </a>
  </div> -->
  <section
    id="contacto"
    class="bg-[url('/110428-black-and-blue-blurred-background-vector.webp')] bg-cover bg-center transition duration-300 py-10 flex flex-col items-center gap-5 p-6 bg-black"
  >
    <h2 class="text-white md:text-4xl text-3xl font-['Bebas_Neue'] text-center">
      ¿Estás listo para hacer tu página web o aplicación
      <br class="hidden sm:block" />
      con nosotros?
    </h2>
  </section>
  <section>
    <div class="flex">
      <div
        class="xl:ms-[8%] xl:w-[42%] w-[50%] resp:w-full p-20 mobl:p-10 flex justify-center"
      >
        <div class="w-full">
          <h2 class="md:text-5xl text-3xl text-black mb-5">
            Cuéntanos tu proyecto
          </h2>
          <form class="font-['Smooch_Sans'] md:text-2xl text-xl">
            <input
              type="text"
              name="name"
              placeholder="Nombres y Apellidos*"
              required
              maxlength="100"
              class="appearance-none text-black leading-tight focus:ring-0 focus:outline-none w-full mr-3 pb-2 mb-5 border-b border-blue-700"
            />
            <input
              type="text"
              name="email"
              placeholder="Correo electrónico*"
              required
              maxlength="100"
              class="appearance-none text-black leading-tight focus:ring-0 focus:outline-none w-full mr-3 pb-2 mb-5 border-b border-blue-700"
            />
            <input
              type="text"
              name="number"
              placeholder="Número de teléfono*"
              required
              maxlength="100"
              class="appearance-none text-black leading-tight focus:ring-0 focus:outline-none w-full mr-3 pb-2 mb-5 border-b border-blue-700"
            />
            <input
              type="text"
              name="subject"
              placeholder="Asunto"
              maxlength="100"
              class="appearance-none text-black leading-tight focus:ring-0 focus:outline-none w-full mr-3 pb-2 mb-5 border-b border-blue-700"
            />
            <div>
              <label for="service-select" class="text-gray-400">
                Tipo de Servicio
              </label>
              <select
                name="service-select"
                id="service-select"
                class="p-1 border border-blue-600 rounded-lg outline-blue-600 w-full"
                required
              >
                <option disabled selected>Seleccione una opción</option>
                <option value="pagina-web">Página web</option>
                <option value="aplicacion-movil">Aplicación móvil</option>
                <option value="catalogo-o-portafolio"
                  >Catálogo o portafolio</option
                >
                <option value="e-commerce">E-Commerce</option>
              </select>
            </div>
            <div
              class="mt-5 flex flex-col border rounded-lg border-blue-700 p-2 mb-6"
            >
              <textarea
                name="message"
                placeholder="Mensaje*"
                class="appearance-none border-none text-black mr-3 leading-tight focus:ring-0 focus:outline-none resize-none"
                required
                maxlength="10000"
                rows="6"></textarea>
              <div class="flex justify-end">
                <button
                  class="bg-blue-600 rounded-full 2xl:w-8 2xl:h-8 md:w-7 md:h-7 p-[0.2rem] flex justify-center items-center hover:bg-blue-700 cursor-pointer"
                >
                  <img src="/send.svg" class="ml-[0.1rem] w-[80%] h-auto" />
                </button>
              </div>
            </div>
            <!-- <div class="flex flex-row justify-end w-full">
              <button
                class="hover:bg-blue-600 hover:text-white cursor-pointer transition duration-300 border-[0.005rem] border-blue-600 text-blue-600 font-['Bebas_Neue'] md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-2xl"
              >
                Enviar
              </button>
            </div> -->
          </form>
        </div>
      </div>
      <div class="w-[50%] flex justify-center items-center resp:hidden">
        <img src="/c2squarelogoblack.png" class="w-full max-w-[28rem]" />
      </div>
    </div>
  </section>
</C2MainPage>
