---
import C2MainPage from "../components/MainPage.astro";
import C2NavHeader from "../components/NavHeader.astro";
---

<C2MainPage>
  <section class="">
    <C2NavHeader invisible={true} />
    <h2 class="text-center text-6xl mt-1 bg-clip-text text-transparent bg-gradient-to-r from-blue-950 via-blue-700 to-blue-950">Páginas web</h2>
    <div class="fade-in-bottom flex gap-10 justify-center resp:flex-col">
      <!-- Plan básico -->
      <div class="mb-10">
        <div class="flex justify-center mb-2">
          <div
            class="shadow-[0_0_20px_0_rgba(0,0,0,0.15)] w-[19rem] h-[34rem] mt-5 rounded-3xl"
          >
            <h2 class="text-center text-4xl mt-5">Plan básico</h2>
            <p class="text-center text-[18px] mt-6 mx-10 font-bold">
              Ideal para aquellos que desean tener una presencia online sólida y
              estática.
            </p>
            <h2 class="text-[#1843A2] text-center text-5xl mt-16">$300</h2>
            <div class="flex justify-center">
              <a href="/"
                ><button
                  class="hover:text-blue-800 hover:border-blue-800 cursor-pointer transition duration-300 border-[0.005rem] md:mt-2 mt-3 border-black text-black font-['Smooch_sans'] font-bold 4xl:text-4xl md:text-[30px] text-xl md:px-8 px-3 md:py-2 py-2 rounded-[16px]"
                >
                  Adquirir
                </button></a
              >
            </div>
            <ul class="mx-10 text-2xl mt-5 font-bold">
              <li>• 1 página principal.</li>
              <li>• 1 vista adicional.</li>
              <li>• Página estática.</li>
              <li>• Diseño predeterminado (Puedes escoger entre nuestros templates).</li>
            </ul>
          </div>
        </div>
        <div class="flex">
          <a href="/" class="w-52">
            <p
              class="ml-3 text-neutral-400 text-2xl font-bold underline hover:text-blue-800 transition duration-300"
            >
              Ver referencia
            </p>
          </a>
          <div class="w-full"></div>
        </div>
      </div>
      <!-- Plan plus -->
      <div class="mb-10">
        <div class="flex justify-center mb-2">
          <div
            class="shadow-[0_0_20px_0_rgba(0,0,0,0.15)] w-[19rem] h-[34rem] mt-5 rounded-3xl"
          >
            <h2 class="text-center text-4xl mt-5">Plan plus</h2>
            <p class="text-center text-[18px] mt-2 mx-10 font-bold">
              Para aquellos que buscan un crecimiento digital con un diseño
              atractivo y funcionalidades sencillas.
            </p>
            <h2 class="text-[#1843A2] text-center text-5xl mt-14">$500</h2>
            <div class="flex justify-center">
              <a href="/planes-páginas-webs"
                ><button
                  class="hover:text-blue-800 hover:border-blue-800 cursor-pointer transition duration-300 border-[0.005rem] md:mt-2 mt-3 border-black text-black font-['Smooch_sans'] font-bold 4xl:text-4xl md:text-[30px] text-xl md:px-8 px-3 md:py-2 py-2 rounded-[16px]"
                >
                  Adquirir
                </button></a
              >
            </div>
            <ul class="mx-10 text-2xl mt-5 font-bold">
              <li>• 1 página principal.</li>
              <li>• 3 vistas adicionales.</li>
              <li>• Funcionalidades sencillas.</li>
              <li>• Diseño predeterminado / Puedes traer tu propio diseño.</li>
            </ul>
          </div>
        </div>
        <div class="flex">
          <a href="/" class="w-52">
            <p
              class="ml-3 text-neutral-400 text-2xl font-bold underline hover:text-blue-800 transition duration-300"
            >
              Ver referencia
            </p>
          </a>
          <div class="w-full"></div>
        </div>
      </div>
      <!-- Plan premium -->
      <div class="mb-10">
        <div class="flex justify-center mb-2">
          <div
            class="shadow-[0_0_20px_0_rgba(0,0,0,0.15)] w-[19rem] h-[34rem] mt-5 rounded-3xl"
          >
            <h2 class="text-center text-4xl mt-5">Plan premium</h2>
            <p class="text-center text-[18px] mt-2 mx-10 font-bold">
              Perfecto para empresas que buscan una plataforma con
              funcionalidades avanzadas y altamente personalizada.
            </p>
            <h2 class="text-[#1843A2] text-center text-5xl mt-14">$800</h2>
            <div class="flex justify-center">
              <a href="/planes-páginas-webs"
                ><button
                  class="hover:text-blue-800 hover:border-blue-800 cursor-pointer transition duration-300 border-[0.005rem] md:mt-2 mt-3 border-black text-black font-['Smooch_sans'] font-bold 4xl:text-4xl md:text-[30px] text-xl md:px-8 px-3 md:py-2 py-2 rounded-[16px]"
                >
                  Adquirir
                </button></a
              >
            </div>
            <ul class="mx-10 text-2xl mt-5 font-bold">
              <li>• 1 página principal.</li>
              <li>• 5 vistas adicionales.</li>
              <li>• Funcionalidades avanzadas.</li>
              <li>• Diseño personalizado.</li>
            </ul>
          </div>
        </div>
        <div class="flex">
          <a href="/" class="w-52">
            <p
              class="ml-3 text-neutral-400 text-2xl font-bold underline hover:text-blue-800 transition duration-300"
            >
              Ver referencia
            </p>
          </a>
          <div class="w-full"></div>
        </div>
      </div>
      <!-- Plan personalizado -->
      <div class="mb-10">
        <div class="flex justify-center mb-2">
          <div
            class="shadow-[0_0_20px_0_rgba(0,0,0,0.15)] w-[19rem] h-[34rem] mt-5 rounded-3xl"
          >
            <h2 class="text-center text-4xl mt-5">Plan personalizado</h2>
            <p class="text-center text-[18px] mt-2 mx-10 font-bold">
              Trabajaremos estrechamente contigo para comprender tus necesidades
              específicas y haremos realidad tu proyecto.
            </p>
            <h2 class="text-[#1843A2] text-center text-5xl mt-7">
              A consultar
            </h2>
            <div class="flex justify-center">
              <a href="/planes-páginas-webs"
                ><button
                  class="hover:text-blue-800 hover:border-blue-800 cursor-pointer transition duration-300 border-[0.005rem] md:mt-2 mt-3 border-black text-black font-['Smooch_sans'] font-bold 4xl:text-4xl md:text-[30px] text-xl md:px-5 px-3 md:py-2 py-2 rounded-[16px]"
                >
                  Contáctanos
                </button></a
              >
            </div>
            <ul class="mx-8 text-2xl mt-5 font-bold">
              <li>• 1 página principal.</li>
              <li>• 8 + vistas adicionales.</li>
              <li>• Optimizacion SEO.</li>
              <li>• Diseño personalizado.</li>
              <li>• Funcionalidades complejas.</li>
            </ul>
          </div>
        </div>
        <div class="flex">
          <a href="/" class="w-52">
            <p
              class="ml-3 text-neutral-400 text-2xl font-bold underline hover:text-blue-800 transition duration-300"
            >
              Ver referencia
            </p>
          </a>
          <div class="w-full"></div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="bg-[url('/110428-black-and-blue-blurred-background-vector.jpg')] bg-cover bg-center"
  >
    <h2 class="text-7xl text-center text-white pt-20">
      Hosting y mantenimiento
    </h2>
    <p class="text-white text-center text-4xl font-bold mx-64 mt-10 pb-8">
      Nos encargamos de alojar tu sitio web en servidores seguros y confiables,
      garantizando un rendimiento óptimo. Además, nuestro equipo se encarga del
      mantenimiento continuo para que tú puedas centrarte en tu negocio.
      ¡Consulta para obtener información y disfruta de la tranquilidad de tener
      tu presencia online siempre activa!
    </p>
    <div class="flex justify-center pb-20">
      <a href="/#contacto"
        ><button
          class="hover:bg-neutral-400 hover:bg-opacity-25 cursor-pointer transition duration-300 border-[0.005rem] border-white text-white font-['Bebas_Neue'] 4xl:text-4xl md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-2xl"
        >
          Contáctanos
        </button></a
      >
    </div>
  </section>
</C2MainPage>
