---
import C2MainPage from "../components/MainPage.astro";
import C2NavHeader from "../components/NavHeader.astro";
---

<C2MainPage>
  <section class="">
    <C2NavHeader invisible={true} />
    <div class="flex justify-center m-auto gap-10 my-10">
      <!-- Páginas web card\ -->
      <div
        class="fade-in-bottom bg-[url('/paginaswebcard.png')] bg-cover bg-center w-[35rem] h-[18rem] rounded-[40px] shadow-black/25 drop-shadow-xl"
      >
        <div class="flex flex-col mr-12 mt-20">
          <h2 class="text-6xl text-white text-right">Páginas web</h2>
          <div class="flex justify-end">
            <a href="/planes-paginas-web"
              ><button
                class="hover:bg-neutral-400 hover:bg-opacity-25 cursor-pointer transition duration-300 border-[0.005rem] md:mt-6 mt-3 border-white text-white font-['Bebas_Neue'] 4xl:text-4xl md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-2xl mb-20"
              >
                Saber más
              </button></a
            >
          </div>
        </div>
      </div>
      <!-- Aplicaciones moviles card\ -->
      <div
        class="fade-in-bottom bg-[url('/aplicacionesmovilescard.png')] bg-cover bg-center w-[35rem] h-[18rem] rounded-[40px] sshadow-black/25 drop-shadow-xl"
      >
        <div class="flex flex-col mr-12 mt-16">
          <h2 class="text-6xl text-white text-right">
            Aplicaciones <br />móviles
          </h2>
          <div class="flex justify-end">
            <a href="/planes-aplicaciones-moviles"
              ><button
                class="hover:bg-neutral-400 hover:bg-opacity-25 cursor-pointer transition duration-300 border-[0.005rem] md:mt-6 mt-3 border-white text-white font-['Bebas_Neue'] 4xl:text-4xl md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-2xl mb-20"
              >
                Saber más
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center m-auto gap-10 mb-10">
      <!-- Catálogos y portafolios card\ -->
      <div
        class="fade-in-bottom bg-[url('/catalogosyportafolioscard.png')] bg-cover bg-center w-[35rem] h-[18rem] rounded-[40px] shadow-black/25 drop-shadow-xl"
      >
        <div class="flex flex-col mr-12 mt-16">
          <h2 class="text-6xl text-white text-right">
            Catálogos y <br />portafolios
          </h2>
          <div class="flex justify-end">
            <a href="/"
              ><button
                class="hover:bg-neutral-400 hover:bg-opacity-25 cursor-pointer transition duration-300 border-[0.005rem] md:mt-6 mt-3 border-white text-white font-['Bebas_Neue'] 4xl:text-4xl md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-2xl mb-20"
              >
                Saber más
              </button></a
            >
          </div>
        </div>
      </div>
      <!-- E-commerce card\ -->
      <div
        class="fade-in-bottom bg-[url('/ecommercecard.png')] bg-cover bg-center w-[35rem] h-[18rem] rounded-[40px] shadow-black/25 drop-shadow-xl"
      >
        <div class="flex flex-col mr-6 mt-20">
          <h2 class="text-6xl text-white text-right">E-commerce</h2>
          <div class="flex justify-end">
            <a href="/planes-e-commerce"
              ><button
                class="hover:bg-neutral-400 hover:bg-opacity-25 cursor-pointer transition duration-300 border-[0.005rem] md:mt-6 mt-3 border-white text-white font-['Bebas_Neue'] 4xl:text-4xl md:text-2xl text-xl md:px-5 px-3 md:py-3 py-2 rounded-2xl mb-20"
              >
                Saber más
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</C2MainPage>
