---
import {
  FaWhatsapp,
  FaLinkedinIn,
  FaArrowRight,
  FaPlus,
  FaMinus,
} from "react-icons/fa/index";
import { FaInstagram } from "react-icons/fa6/index";
import { FiPhone } from "react-icons/fi/index";
import { HiOutlineMail } from "react-icons/hi/index";
import { MdOutlineLocationOn } from "react-icons/md/index";
import { TfiEmail } from "react-icons/tfi/index";
---

<div
  class="bottom-0 pt-[30px] leading-[20px] box-border border-t-[1px] border-black border-solid bg-white text-neutral-700"
>
  <footer>
    <div
      class="tiny:w-[85%] m-auto flex flex-wrap items-start justify-between px-6 tiny:px-0"
    >
      <div class="mt-[10px] md:mr-[40px] m-auto">
        <img src="/c2logoblack.png" class="w-56 mb-2" />
        <h2 class="slogan text-center text-lg mb-2">
          EXPONENCIAMOS TU PROYECTO
        </h2>
      </div>
      <div class="p-[10px] tiny:m-0 mt-10 basis-full md:basis-1/4">
        <h3
          class="flex justify-between items-center font-bold text-[30px] tiny:w-fit mb-[20px] relative"
        >
          Contacto
          <FaPlus id="contactPlusBotton" className="tiny:hidden text-xl" />
          <FaMinus id="contactMinusBotton" className="hidden text-xl" />
          <div
            class="w-full h-[2px] absolute top-[25px] left-0 overflow-hidden bg-blue-700 rounded-[3px]"
          >
          </div>
        </h3>
        <ul id="contactList" class="tiny:block hidden">
          <li class="mb-[12px] text-[20px] flex">
            <MdOutlineLocationOn className="inline" /> Caracas, Venezuela
          </li>
          <li class="mb-[12px] text-[20px]">
            <a
              href="tel:+584241742700"
              class="hover:text-blue-500 transition duration-300 flex"
            >
              <FiPhone className="inline" /> +58 424-1742700
            </a>
          </li>
          <li class="mb-[12px] text-[20px]">
            <a
              href="mailto:c2developergroup@gmail.com"
              class="hover:text-blue-500 transition duration-300 flex"
            >
              <HiOutlineMail className="inline" /> c2developergroup@gmail.com
            </a>
          </li>
        </ul>
      </div>
      <div class="p-[10px] basis-full md:basis-1/4">
        <h3
          class="flex justify-between items-center font-bold text-[30px] tiny:w-fit mb-[20px] relative"
        >
          Links
          <FaPlus id="linksPlusBotton" className="tiny:hidden text-xl" />
          <FaMinus id="linksMinusBotton" className="hidden text-xl" />
          <div
            class="w-full h-[2px] absolute top-[25px] left-0 overflow-hidden bg-blue-700 rounded-[3px]"
          >
            <span></span>
          </div>
        </h3>
        <ul id="linksList" class="tiny:block hidden">
          <li class="mb-[12px] text-[20px]">
            <a href="/" class="hover:text-blue-500 transition duration-300"
              >Inicio</a
            >
          </li>
          <li class="mb-[12px] text-[20px]">
            <a href="/" class="hover:text-blue-500 transition duration-300"
              >Servicios</a
            >
          </li>
          <li class="mb-[12px] text-[20px]">
            <a href="/" class="hover:text-blue-500 transition duration-300"
              >Nosotros</a
            >
          </li>
        </ul>
      </div>
      <div class="p-[10px] basis-full md:basis-full lg:basis-1/4">
        <h3 class="font-bold text-[30px] w-fit mb-[20px] relative">
          Suscríbete
          <div
            class="w-full hidden tiny:block h-[2px] absolute top-[25px] left-0 overflow-hidden bg-blue-700 rounded-[3px]"
          >
            <span></span>
          </div>{" "}
        </h3>
        <form
          class="pb-[15px] flex items-center justify-between border-b-[1px] border-solid border-blue-700 tiny:border-[#ccc] mb-[30px]"
        >
          <TfiEmail className="text-lg" />
          <input
            type="email"
            name="email"
            placeholder="Boletín informativo"
            required
            class="w-full bg-transparent text-[#ccc] border-none outline-none ml-[10px]"
          />
          <button type="submit">
            <FaArrowRight
              className="hover:text-blue-500 transition duration-300 cursor-pointer"
            />
          </button>
        </form>
        <div
          class="flex tiny:justify-normal justify-center gap-1 text-4xl mb-[20px]"
        >
          <FaWhatsapp
            className="text-[35px] mr-[20px] hover:text-blue-500 transition duration-300 cursor-pointer"
          />
          <a href="https://www.instagram.com/c2developergroup" target="_blank">
            <FaInstagram
              className="text-[35px] mr-[20px] hover:text-blue-500 transition duration-300 cursor-pointer"
            />
          </a>
          <FaLinkedinIn
            className="text-[35px] mr-[20px] hover:text-blue-500 transition duration-300 cursor-pointer"
          />
        </div>
      </div>
    </div>
    <!-- <hr class="w-9/10 border-0 border-b-[1px] border-solid border-[#ccc] my-[20px] mx-auto" /> -->
    <div class="w-full h-auto bg-neutral-50 py-[20px]">
      <p class="text-center">
        © 2023 C² Developer Group - Todos los derechos reservados | <a
          href="/"
          class="hover:text-blue-500 transition duration-300 underline"
          >Desarrollado por C² Developer Group</a
        >
      </p>
    </div>
  </footer>
  <script>
    const toggleContactList = () => {
      contactList?.classList.toggle("hidden");
      contactPlusBotton?.classList.toggle("hidden");
      contactMinusBotton?.classList.toggle("hidden");
    }
    const toggleLinksList = () => {
      linksList?.classList.toggle("hidden");
      linksPlusBotton?.classList.toggle("hidden");
      linksMinusBotton?.classList.toggle("hidden");
    }
    let contactList = document.querySelector("#contactList");
    let linksList = document.querySelector("#linksList");
    let contactPlusBotton = document.querySelector("#contactPlusBotton");
    let linksPlusBotton = document.querySelector("#linksPlusBotton");
    let contactMinusBotton = document.querySelector("#contactMinusBotton");
    let linksMinusBotton = document.querySelector("#linksMinusBotton");
    contactPlusBotton?.addEventListener("click", toggleContactList);
    contactMinusBotton?.addEventListener("click", toggleContactList);
    linksPlusBotton?.addEventListener("click", toggleLinksList);
    linksMinusBotton?.addEventListener("click", toggleLinksList);
  </script>
</div>
