---
import { FaWhatsapp } from "react-icons/fa";
import { FaInstagram } from "react-icons/fa6";
import { AiOutlineGithub } from "react-icons/ai";
---
<footer class="w-full bg-neutral-800 text-white flex resp:flex-col resp:gap-y-10 p-10 items-center justify-around">
  <div>
    <img src="/c2logowhite.png" class="w-54 h-24 mb-2" />
    <h2 class="text-4xl">Links Interesantes</h2>
    <h2 class="text-2xl hover:text-neutral-200 transition duration-300 cursor-pointer">
      Sobre Nosotros
    </h2>
  </div>
  <div class="flex items-center gap-x-6 md:mx-36">
    <FaWhatsapp class="text-4xl  hover:text-neutral-200 hover:scale-110 transition duration-300 cursor-pointer" />
    <FaInstagram class="text-4xl  hover:text-neutral-200 hover:scale-110 transition duration-300 cursor-pointer" />
    <AiOutlineGithub class="text-4xl  hover:text-neutral-200 hover:scale-110 transition duration-300 cursor-pointer" />
  </div>
  <div>
    <h2 class="text-2xl hover:text-neutral-200 transition duration-300 cursor-pointer">
      Forma parte de nuestro equipo
    </h2>
    <h2 class="text-2xl hover:text-neutral-200 transition duration-300 cursor-pointer">
      Contáctanos
    </h2>
  </div>
</footer>