---
import { FaWhatsapp, FaLinkedinIn, FaArrowRight } from "react-icons/fa/index";
import { FaInstagram } from "react-icons/fa6/index";
import { FiPhone } from "react-icons/fi/index";
import { HiOutlineMail } from "react-icons/hi/index";
import { MdOutlineLocationOn } from "react-icons/md/index";
import { TfiEmail } from "react-icons/tfi/index";
---

<div
  class="w-full bottom-0 pt-[30px] leading-[20px] box-border border-t-[1px] border-black border-solid bg-white text-neutral-700"
>
  <footer>
    <div class="w-[85%] m-auto flex flex-wrap items-start justify-between">
      <div class="mt-[10px] mr-[40px]">
        <img src="/c2logoblack.png" class="w-56 mb-2" />
        <h2 class="slogan text-center text-lg mb-2">
          EXPONENCIAMOS TU PROYECTO
        </h2>
      </div>
      <div class="p-[10px] basis-full md:basis-1/4">
        <h3 class="font-bold text-[30px] w-fit mb-[20px] relative">
          Contacto{" "}
          <div
            class="w-full h-[2px] absolute top-[25px] left-0 overflow-hidden bg-blue-700 rounded-[3px]"
          >
            <span></span>
          </div>{" "}
        </h3>
        <ul>
          <li class="mb-[12px] text-[20px]">
            <MdOutlineLocationOn className="inline" /> Caracas, Venezuela
          </li>
          <li class="mb-[12px] text-[20px]">
            <a
              href="tel:+584241742700"
              class="hover:text-blue-500 transition duration-300"
            >
              <FiPhone className="inline" /> +58 424-1742700
            </a>
          </li>
          <li class="mb-[12px] text-[20px]">
            <a
              href="mailto:c2developergroup@gmail.com"
              class="hover:text-blue-500 transition duration-300"
            >
              <HiOutlineMail className="inline" /> c2developergroup@gmail.com
            </a>
          </li>
        </ul>
      </div>
      <div class="p-[10px] basis-full md:basis-1/4">
        <h3 class="font-bold text-[30px] w-fit mb-[20px] relative">
          Links{" "}
          <div
            class="w-full h-[2px] absolute top-[25px] left-0 overflow-hidden bg-blue-700 rounded-[3px]"
          >
            <span></span>
          </div>{" "}
        </h3>
        <ul>
          <li class="mb-[12px] text-[20px]">
            <a href="/" class="hover:text-blue-500 transition duration-300"
              >Inicio</a
            >
          </li>
          <li class="mb-[12px] text-[20px]">
            <a href="/" class="hover:text-blue-500 transition duration-300"
              >Servicios</a
            >
          </li>
          <li class="mb-[12px] text-[20px]">
            <a href="/" class="hover:text-blue-500 transition duration-300"
              >Nosotros</a
            >
          </li>
        </ul>
      </div>
      <div class="p-[10px] basis-full md:basis-full lg:basis-1/4">
        <h3 class="font-bold text-[30px] w-fit mb-[20px] relative">
          Suscríbete
          <div
            class="w-full h-[2px] absolute top-[25px] left-0 overflow-hidden bg-blue-700 rounded-[3px]"
          >
            <span></span>
          </div>{" "}
        </h3>
        <form
          class="pb-[15px] flex items-center justify-between border-b-[1px] border-solid border-[#ccc] mb-[30px]"
        >
          <TfiEmail className="text-lg" />
          <input
            type="email"
            name="email"
            placeholder="Boletín informativo"
            required
            class="w-full bg-transparent text-[#ccc] border-none outline-none ml-[10px]"
          />
          <button type="submit">
            <FaArrowRight
              className="hover:text-blue-500 transition duration-300 cursor-pointer"
            />
          </button>
        </form>
        <div class="flex gap-1 text-4xl mb-[20px]">
          <FaWhatsapp
            className="text-[35px] mr-[20px] hover:text-blue-500 transition duration-300 cursor-pointer"
          />
          <a href="https://www.instagram.com/c2developergroup" target="_blank">
            <FaInstagram
              className="text-[35px] mr-[20px] hover:text-blue-500 transition duration-300 cursor-pointer"
            />
          </a>
          <FaLinkedinIn
            className="text-[35px] mr-[20px] hover:text-blue-500 transition duration-300 cursor-pointer"
          />
        </div>
      </div>
    </div>
    <!-- <hr class="w-9/10 border-0 border-b-[1px] border-solid border-[#ccc] my-[20px] mx-auto" /> -->
    <div class="w-full h-auto bg-neutral-50 py-[20px]">
      <p class="text-center">
        © 2023 C² Developer Group - Todos los derechos reservados | <a
          href="/"
          class="hover:text-blue-500 transition duration-300 underline"
          >Desarrollado por C² Developer Group</a
        >
      </p>
    </div>
  </footer>
</div>
