---
import { FaWhatsapp, FaFacebookF, FaArrowRight } from "react-icons/fa/index";
import { FaInstagram } from "react-icons/fa6/index";
import { BsTwitterX } from "react-icons/bs/index";
import { TfiEmail } from "react-icons/tfi/index";
---
<div class="w-full bottom-0 pt-[30px] leading-[20px] box-border border-t-[1px] border-black border-solid bg-white text-neutral-700">
  <footer>
    <div class="w-[85%] m-auto flex flex-wrap items-start justify-between">
      <div class="mt-[10px] mr-[40px]">
        <img src="/c2logowhite.png" class="w-56 mb-2 invert" />
        <h2 class="slogan text-center text-lg mb-2">EXPONENCIAMOS TU PROYECTO</h2>
      </div>
      <div class="p-[10px] basis-full md:basis-1/4">
        <h3 class="font-bold text-[30px] w-fit mb-[20px] relative">
          Contacto{" "}
          <div class="w-full h-[2px] absolute top-[25px] left-0 overflow-hidden bg-blue-700 rounded-[3px]">
            <span></span>
          </div>{" "}
        </h3>
        <ul>
          <li class="mb-[12px] text-[20px]">
            <a href="" class="hover:text-blue-500 transition duration-300">Dirección</a>
          </li>
          <li class="mb-[12px] text-[20px]">
            <a href="" class="hover:text-blue-500 transition duration-300">Número de teléfono</a>
          </li>
          <li class="mb-[12px] text-[20px]">
            <a href="" class="hover:text-blue-500 transition duration-300">Correo electrónico</a>
          </li>
        </ul>
      </div>
      <div class="p-[10px] basis-full md:basis-1/4">
        <h3 class="font-bold text-[30px] w-fit mb-[20px] relative">
          Links{" "}
          <div class="w-full h-[2px] absolute top-[25px] left-0 overflow-hidden bg-blue-700 rounded-[3px]">
            <span></span>
          </div>{" "}
        </h3>
        <ul>
          <li class="mb-[12px] text-[20px]">
            <a href="/" class="hover:text-blue-500 transition duration-300">Inicio</a>
          </li>
          <li class="mb-[12px] text-[20px]">
            <a href="/" class="hover:text-blue-500 transition duration-300">Servicios</a>
          </li>
          <li class="mb-[12px] text-[20px]">
            <a href="/" class="hover:text-blue-500 transition duration-300">Nosotros</a>
          </li>
        </ul>
      </div>
      <div class="p-[10px] basis-full md:basis-full lg:basis-1/4">
        <h3 class="font-bold text-[30px] w-fit mb-[20px] relative">
          Suscríbete
          <div class="w-full h-[2px] absolute top-[25px] left-0 overflow-hidden bg-blue-700 rounded-[3px]">
            <span></span>
          </div>{" "}
        </h3>
        <form class="pb-[15px] flex items-center justify-between border-b-[1px] border-solid border-[#ccc] mb-[30px]">
          <TfiEmail className="text-lg" />
          <input type="email" name="email" placeholder="Boletín informativo" required class="w-full bg-transparent text-[#ccc] border-none outline-none ml-[10px]" />
          <button type="submit">
            <FaArrowRight className="hover:text-blue-500 transition duration-300 cursor-pointer"/>
          </button>
        </form>
        <div class="flex gap-1 text-4xl mb-[20px]">
          <FaWhatsapp className="text-[35px] mr-[20px] hover:text-blue-500 transition duration-300 cursor-pointer" />
          <FaInstagram className="text-[35px] mr-[20px] hover:text-blue-500 transition duration-300 cursor-pointer" />
          <BsTwitterX className="text-[35px] mr-[20px] hover:text-blue-500 transition duration-300 cursor-pointer" />
          <FaFacebookF className="text-[35px] mr-0 hover:text-blue-500 transition duration-300 cursor-pointer" />
        </div>
      </div>
    </div>
    <!-- <hr class="w-9/10 border-0 border-b-[1px] border-solid border-[#ccc] my-[20px] mx-auto" /> -->
    <div class="w-full h-auto bg-neutral-50 py-[20px]">
      <p class="text-center">© 2023 C2 Developer Group - Todos los derechos reservados.</p>
    </div>
  </footer>
</div>