---
import C2Navbar from "../components/Navbar.astro"
import C2Footer from "../components/Footer.astro"
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/c2logosquare.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C² Developer Group</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  </head>
  <body class="bg-neutral-800 transition duration-300">
    <div id="root">
      <C2Navbar />
      <div id="content">
        <slot />
      </div>
      <C2Footer />
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" is:inline src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </body>
</html>