---
import C2AnimationParent from "./AnimationParent.astro";

interface Props {
  title: string;
  url?: string;
  image: string;
}

const { title, url = "/", image } = Astro.props;
---

<a href={url}>
  <C2AnimationParent>
    <div class="flex flex-col items-center">
      <div
        class="c2animate fade-in-bottom bg-cover bg-center 3xl:w-[24rem] 3xl:h-[13.5rem] 2xl:w-[29rem] 2xl:h-[16rem] xl:w-[24rem] xl:h-[13.5rem] lg:w-[28rem] lg:h-[15.5rem] md:w-[21rem] md:h-[11.5rem] sm:w-[18rem] sm:h-[10rem] w-[21rem] h-[12rem] 2xl:rounded-[20px] rounded-2xl shadow-black/25 drop-shadow-xl"
        style={{ backgroundImage: `url('${image}')` }}
      >
      </div>
      <h2
        class="c2animate fade-in-bottom w-full mt-5 text-4xl xl:text-4xl lg:text-3xl text-center underline text-neutral-700"
      >
        {title}
      </h2>
      <p
        class="c2animate fade-in-bottom w-full mt-4 text-xl xl:text-xl lg:text-lg text-center text-neutral-500"
      >
        <slot />
      </p>
    </div>
  </C2AnimationParent>
</a>
