---
import "../css/slick-review.css";
---

<c2dev-proyectos-carousel
  class="splide flex justify-center relative max-w-[100%] w-[100%]"
>
  <div class="splide__track">
    <div class="splide__list">
      <div class="splide__slide px-10 pt-10 pb-16">
        <img
          src="/lazyload-project.svg"
          data-splide-lazy="/serobucle.gif"
          class="w-full rounded-xl shadow-[0_0_26px_0_rgba(0,0,0,0.25)] shadow-neutral-500 hover:shadow-neutral-700 dark:shadow-neutral-900 dark:hover:shadow-neutral-950 transition duration-500"
          alt="Slide 2"
        />
      </div>
      <div class="splide__slide px-10 pt-10 pb-16">
        <img
          src="/lazyload-project.svg"
          data-splide-lazy="/melaobagslandingpage.png"
          class="w-full rounded-xl shadow-[0_0_26px_0_rgba(0,0,0,0.25)] shadow-neutral-500 hover:shadow-neutral-700 dark:shadow-neutral-900 dark:hover:shadow-neutral-950 transition duration-500"
          alt="Slide 2"
        />
      </div>
      <div class="splide__slide px-10 pt-10 pb-16">
        <img
          src="/lazyload-project.svg"
          data-splide-lazy="/melaobagslandingpage.png"
          class="w-full rounded-xl shadow-[0_0_26px_0_rgba(0,0,0,0.25)] shadow-neutral-500 hover:shadow-neutral-700 dark:shadow-neutral-900 dark:hover:shadow-neutral-950 transition duration-500"
          alt="Slide 3"
        />
      </div>
      <div class="splide__slide px-10 pt-10 pb-16">
        <img
          src="/lazyload-project.svg"
          data-splide-lazy="/melaobagslandingpage.png"
          class="w-full rounded-xl shadow-[0_0_26px_0_rgba(0,0,0,0.25)] shadow-neutral-500 hover:shadow-neutral-700 dark:shadow-neutral-900 dark:hover:shadow-neutral-950 transition duration-500"
          alt="Slide 4"
        />
      </div>
      <div class="splide__slide px-10 pt-10 pb-16">
        <img
          src="/lazyload-project.svg"
          data-splide-lazy="/melaobagslandingpage.png"
          class="w-full rounded-xl shadow-[0_0_26px_0_rgba(0,0,0,0.25)] shadow-neutral-500 hover:shadow-neutral-700 dark:shadow-neutral-900 dark:hover:shadow-neutral-950 transition duration-500"
          alt="Slide 5"
        />
      </div>
    </div>
  </div>
</c2dev-proyectos-carousel>
<script>
  import { Splide, type Options as SplideOptions } from "@splidejs/splide";
  import { Intersection } from "@splidejs/splide-extension-intersection";

  const options: SplideOptions = {
    type: "loop",
    autoplay: "pause",
    interval: 4000,
    pauseOnHover: true,
    lazyLoad: "nearby",
    preloadPages: 1,
    updateOnMove: true,
    arrows: false,
    padding: "20%",
    intersection: {
      inView: {
        autoplay: true,
      },
      outView: {
        autoplay: false,
      },
    },
    breakpoints: {
      2100: {
        // 4xl
        padding: "20%",
      },
      1800: {
        // 3xl
        padding: "20%",
      },
      1536: {
        // 2xl
        padding: "20%",
      },
      1280: {
        // xl
        padding: "20%",
      },
      1024: {
        // lg
        padding: "20%",
      },
      768: {
        // md
        padding: "10%",
      },
      640: {
        // sm
        padding: "10px",
      },
    },
  };

  class C2DevProyectosCarousel extends HTMLElement {
    splide: Splide | null = null;

    constructor() {
      super();
    }

    connectedCallback() {
      this.splide = new Splide(this, options);
      this.splide.mount({ Intersection });
    }

    disconnectedCallback() {
      this.splide?.destroy();
    }
  }
  window.customElements.define(
    "c2dev-proyectos-carousel",
    C2DevProyectosCarousel
  );
</script>
