---
import C2AnimationParent from "./AnimationParent.astro";

interface Props {
  title: string;
  url?: string;
  image: string;
}

const { title, url = "/", image } = Astro.props;
---

<a href={url}>
  <C2AnimationParent>
    <div class="flex flex-col items-center">
      <div
        class="c2animate fade-in-bottom bg-cover bg-center 2xl:w-[32rem] 2xl:h-[18rem] lg:w-[26rem] lg:h-[15rem] md:w-[17rem] md:h-[9.5rem] sm:w-[18rem] sm:h-[10rem] w-[21rem] h-[12rem] 2xl:rounded-[40px] rounded-2xl shadow-black/25 drop-shadow-xl"
        style={{ backgroundImage: `url('${image}')` }}
      >
      </div>
      <h2
        class="c2animate fade-in-bottom w-full mt-5 text-4xl text-center underline text-neutral-700"
      >
        {title}
      </h2>
      <p
        class="c2animate fade-in-bottom w-full mt-4 text-xl text-center text-neutral-500"
      >
        <slot />
      </p>
    </div>
  </C2AnimationParent>
</a>
