---
import "../css/slick-review.css";
---

<c2dev-review-carousel class="relative max-w-[100%] w-[100%]">
  <div class="md:px-10 px-3 md:pt-10 pt-3 pb-8">
    <div
      class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
    >
      <img
        src="/bynxsquarelogowhite.png"
        class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
      />
      <div class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]">
        <p class="text-white md:text-5xl text-3xl font-medium">
          <span class="md:text-7xl text-4xl">{"“"}</span>
          Necesitabamos un sitio web para promocionar nuestros servicios técnicos
          de asistencia y optimización de computadoras, C² Developer Group nos construyó
          la página desde cero y desde entonces hemos recibido un feedback positivo
          por parte de los clientes ya que presentar una página de este nivel de
          calidad genera un engagement y atrapa la atención de las personas permitiendo
          que pueden ver el tipo de trabajo que hacemos, nuestros servivios, etc.
          <span class="md:text-7xl text-4xl">{"”"}</span>
        </p>
        <p class="text-white md:text-4xl text-2xl text-right mr-10">
          <span class="font-sans">{"~"}</span> BYNX Services
        </p>
      </div>
    </div>
  </div>
  <div class="md:px-10 px-3 md:pt-10 pt-3 pb-8">
    <div
      class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
    >
      <img
        src="/serosquarelogowhite.png"
        class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
      />
      <div class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]">
        <p class="text-white md:text-5xl text-3xl">
          <span class="md:text-7xl text-4xl">{"“"}</span>
          En SERØ queríamos desarrollar una web app para el manejo de datos y progreso
          de un freelance, organización o empresa que tuviera una inmensa cantidad
          de datos que organizar y analizar a largo plazo con el fin de ver los resultados
          de su progreso y desarrollo. C² Developer Group nos ayudó a optimizar nuestro
          sistema, arreglar bugs y elaborar un diseño excepcional para la comodidad
          de nuestros usuarios, estamos completamente agradecidos por su profesionalidad
          y buen trato con nuestro equipo.
          <span class="md:text-7xl text-4xl">{"”"}</span>
        </p>
        <p class="text-white md:text-4xl text-2xl text-right mr-10">
          <span class="font-sans">{"~"}</span> SERØ Enterprise Solutions
        </p>
      </div>
    </div>
  </div>
  <div class="md:px-10 px-3 md:pt-10 pt-3 pb-8">
    <div
      class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
    >
      <img
        src="/jonoapsssquarelogoswhite.png"
        class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
      />
      <div class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]">
        <p class="text-white md:text-5xl text-3xl">
          <span class="md:text-7xl text-4xl">{"“"}</span>
          Contratamos a C² Developer Group para rediseñar la página web y darle un
          aire fresco y actualizado que causará una buena impresión, desde entonces
          hemos experimentado un aumento del 41% en nuestro tráfico y un aumento
          de 22% en la cantidad de conversiones. Los recomendamos a todas las compañías
          buscando mejorar su presencia en línea.
          <span class="md:text-7xl text-4xl">{"”"}</span>
        </p>
        <p class="text-white md:text-4xl text-2xl text-right mr-10">
          <span class="font-sans">{"~"}</span> Jonathan Precise Apps
        </p>
      </div>
    </div>
  </div>
  <div class="md:px-10 px-3 md:pt-10 pt-3 pb-8">
    <div
      class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
    >
      <img
        src="/melaoicon.png"
        class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
      />
      <div class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]">
        <p class="text-white md:text-5xl text-3xl">
          <span class="md:text-7xl text-4xl">{"“"}</span>
          Gracias a C² Developer Group tenemos una excelente tienda online con un
          alto tráfico de clientes que compran a diario nuestras carteras, hemos
          recibido un gran feedback por el buen funcionamiento del sistema que nos
          desarrollaron y los recomendamos a cualquier empresa o marca que está comenzando
          en el mercado de venta de productos, realmente genera un gran progreso
          empresarial y optimiza muchas tareas con nuestros clientes.
          <span class="md:text-7xl text-4xl">{"”"}</span>
        </p>
        <p class="text-white md:text-4xl text-2xl text-right mr-10">
          <span class="font-sans">{"~"}</span> Melao Bags
        </p>
      </div>
    </div>
  </div>
  <div class="md:px-10 px-3 md:pt-10 pt-3 pb-8">
    <div
      class="flex flex-row md:gap-10 sm:gap-5 gap-4 w-[100%] items-start justify-center"
    >
      <img
        src="/sebasphotograpgysquarelogowhite.png"
        class="sm:w-[5rem] w-[4rem] sm:h-[5rem] h-[4rem] rounded-2xl text-white text-4xl flex items-center content-center"
      />
      <div class="flex flex-col justify-center gap-10 max-w-[80rem] w-[100%]">
        <p class="text-white md:text-5xl text-3xl">
          <span class="md:text-7xl text-4xl">{"“"}</span>
          Por fin tengo un portafolio con un diseño increíble, quiero agradecer personalmente
          a C² Developer Group por desarrollarme una página web de este calibre,
          sin duda lo recomiendo a cualquier fotógrafo, diseñador o empresa que quiera
          mostrar en línea sus productos o trabajos.
          <span class="md:text-7xl text-4xl">{"”"}</span>
        </p>
        <p class="text-white md:text-4xl text-2xl text-right mr-10">
          <span class="font-sans">{"~"}</span> Sebastián Castro Rajbe Photography
        </p>
      </div>
    </div>
  </div>
</c2dev-review-carousel>
<script>
  const settings = {
    dots: true,
    dotsClass: "slick-dots-portfolio",
    infinite: true,
    speed: 500,
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 20000,
    centerMode: true,
    centerPadding: "0px",
    focusOnSelect: true,
    nextArrow: true,
    prevArrow: true,
    customPaging: function (_slider: any, i: number) {
      return `<button type="button">${i}</button>`;
    },
  };

  class C2DevReviewCarousel extends HTMLElement {
    observer: IntersectionObserver | null = null;
    initialized: boolean = false;

    constructor() {
      super();
    }

    onIntersect() {
      if (!this.initialized) {
        this.initialized = true;

        $(this).slick(settings);
      }
    }

    connectedCallback() {
      let observer =
        this.observer ??
        new IntersectionObserver(this.onIntersect.bind(this), {
          root: null,
          rootMargin: "0px",
          threshold: 0,
        });
      observer.observe(this);
      this.observer = observer;
    }

    disconnectedCallback() {
      this.observer?.unobserve(this);
    }
  }
  window.customElements.define("c2dev-review-carousel", C2DevReviewCarousel);
</script>
