---

---

<div class="flex justify-center">
  <c2dev-techs-carousel
    class="splide flex justify-center relative max-w-[20%] w-[20%]"
    role="group"
    aria-label="Technologías"
    data-direction="ttb"
  >
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/768px-HTML5_logo_and_wordmark.svg.png"
          />
        </li>
        <!-- html -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/800px-Unofficial_JavaScript_logo_2.svg.png"
          />
        </li>
        <!-- javascript -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/800px-CSS3_logo_and_wordmark.svg.png"
          />
        </li>
        <!-- css -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://logowik.com/content/uploads/images/tailwind-css3232.logowik.com.webp"
          />
        </li>
        <!-- tailwind -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Vitejs-logo.svg/1200px-Vitejs-logo.svg.png"
          />
        </li>
        <!-- vite -->
      </ul>
    </div>
  </c2dev-techs-carousel>
  <c2dev-techs-carousel
    class="splide flex justify-center relative max-w-[20%] w-[20%]"
    role="group"
    aria-label="Technologías"
    data-direction="btt"
  >
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://cdn.sanity.io/images/3do82whm/next/1c2aa4d10fe71c23d7a36f69fc11c419c5f4ac35-1000x667.png"
          />
        </li>
        <!-- astro -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png"
          />
        </li>
        <!-- react -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://www.startechup.com/wp-content/uploads/January-11-2021-Nodejs-What-it-is-used-for-and-when-where-to-use-it-for-your-enterprise-app-development.jpg"
          />
        </li>
        <!-- nodejs -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://miro.medium.com/v2/resize:fit:1358/0*1-Jdz9OibUPdsKu-"
          />
        </li>
        <!-- jwt -->
      </ul>
    </div>
  </c2dev-techs-carousel>
  <c2dev-techs-carousel
    class="splide flex justify-center relative max-w-[20%] w-[20%]"
    role="group"
    aria-label="Technologías"
    data-direction="ttb"
  >
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/800px-Python-logo-notext.svg.png"
          />
        </li>
        <!-- python -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://cdn.icon-icons.com/icons2/2389/PNG/512/flask_logo_icon_145276.png"
          />
        </li>
        <!-- flask -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://images.ctfassets.net/o7xu9whrs0u9/4sYuVlC3grWV9xqiALyYr2/a52875856c016db3eb86c1d8adced886/Docker.logo2_.png"
          />
        </li>
        <!-- docker -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://hakin9.org/wp-content/uploads/2019/08/connect-a-flask-app-to-a-mysql-database-with-sqlalchemy-and-pymysql.jpg"
          />
        </li>
        <!-- sqlalchemy -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://www.outsystems.com/Forge_CW/_image.aspx/Q8LvY--6WakOw9afDCuuGU30LWO2YUXQtIYwJY_Ac_c=/bcryptnet-2023-01-04%2000-00-00-2023-12-11%2002-07-52"
          />
        </li>
        <!-- bcrypt -->
      </ul>
    </div>
  </c2dev-techs-carousel>
  <c2dev-techs-carousel
    class="splide flex justify-center relative max-w-[20%] w-[20%]"
    role="group"
    aria-label="Technologías"
    data-direction="btt"
  >
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://www.christianfindlay.com/assets/images/blog/dart/dart.png"
          />
        </li>
        <!-- dart -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://assets-global.website-files.com/5ee12d8d7f840543bde883de/5ef3a1148ac97166a06253c1_flutter-logo-white-inset.svg"
          />
        </li>
        <!-- flutter -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://www.rust-lang.org/static/images/rust-social.jpg"
          />
        </li>
        <!-- rust -->
        <li class="splide__slide flex justify-center">
          <img
            class="aspect-square rounded-[50%]"
            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
          />
        </li>
        <!-- github -->
      </ul>
    </div>
  </c2dev-techs-carousel>
</div>

<script>
  import { Splide, type Options as SplideOptions } from "@splidejs/splide";
  import { Intersection } from "@splidejs/splide-extension-intersection";
  import { AutoScroll } from "@splidejs/splide-extension-auto-scroll";

  const optionsTtb: SplideOptions = {
    type: "loop",
    direction: "ttb",
    focus: "center",
    height: "100vh",
    width: "15%",
    autoWidth: true,
    arrows: false,
    gap: "5rem",
    perPage: 3,
    pagination: false,
    autoScroll: {
      speed: -1,
    },
  };

  const optionsBtt: SplideOptions = {
    type: "loop",
    direction: "ttb",
    focus: "center",
    height: "100vh",
    width: "15%",
    autoWidth: true,
    arrows: false,
    gap: "5rem",
    perPage: 3,
    pagination: false,
    autoScroll: {
      speed: 1,
    },
  };

  class C2TechsCarousel extends HTMLElement {
    splide: Splide | null = null;

    constructor() {
      super();
    }

    connectedCallback() {
      if (this.dataset.direction == "ttb") {
        this.splide = new Splide(this, optionsTtb);
      } else if (this.dataset.direction == "btt") {
        this.splide = new Splide(this, optionsBtt);
      } else {
        throw new Error("direction not valid");
      }
      this.splide.mount({ Intersection, AutoScroll });
    }

    disconnectedCallback() {
      this.splide?.destroy();
    }
  }
  window.customElements.define("c2dev-techs-carousel", C2TechsCarousel);
</script>
