---
import { FaStore } from "react-icons/fa/index";
import { IoPhonePortraitOutline } from "react-icons/io5/index";
import { MdApps, MdDevices } from "react-icons/md/index";
---

<div>
  <div
    class="flex flex-row w-full tallratio:min-h-0 tallratio:h-auto bg-none bg-contain bg-no-repeat bg-right-bottom"
  >
    <img
      class="absolute -z-30 c2animate slide-in-blurred-right resp:hidden w-[60vw] max-w-[1800px] h-[auto] max-h-[900px] object-contain object-right-bottom right-0"
      src="/E-commerceC2LandingPage-croppedresp.webp"
    />
    <div
      class="c2animate slide-in-blurred-bottom flex flex-col 2xl:mx-40 md:mx-20 mx-5"
    >
      <div class="flex flex-row 2xl:mt-10 md:mt-5 mt-2">
        <div class="flex flex-row gap-4 items-center">
          <div
            class="bg-green-500 3xl:w-[8rem] 2xl:w-[7rem] xl:w-[6rem] md:w-[5rem] w-[3rem] 3xl:h-[8rem] 2xl:h-[7rem] xl:h-[6rem] md:h-[5rem] h-[3rem] rounded-full text-white 3xl:text-6xl 2xl:text-5xl xl:text-4xl md:text-3xl text-xl flex items-center justify-center"
          >
            <FaStore
              className="3xl:text-7xl 2xl:text-6xl xl:text-5xl md:text-4xl text-2xl"
              slot="icon"
            />
          </div>
          <p
            class="4xl:text-9xl 3xl:text-7xl 2xl:text-7xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl text-3xl font-['Bebas_Neue'] h-auto"
          >
            E-Commerce
          </p>
        </div>
      </div>
      <p
        class="3xl:text-6xl xl:text-5xl md:text-2xl text-xl 2xl:mt-20 tallratio:mt-5 mt-5 h-auto md:w-[40%] text-start tallratio:w-full"
      >
        <span>
          Creamos tiendas en línea a medida, seguras y móviles. Maximizamos tu
          presencia digital con enfoque en seguridad y personalización.
        </span>
      </p>
      <p class="2xl:mt-32 md:mt-10 mt-10">
        <a href="/servicios/e-commerce">
          <button
            class="w-auto bg-transparent border-[0.15rem] md:mt-3 mt-1 mb-20 resp:mb-0 border-black text-black hover:border-blue-700 hover:text-blue-700 transition duration-300 cursor-pointer font-['Bebas_Neue'] md:text-2xl text-xl md:px-8 px-3 md:py-3 py-2 rounded-3xl"
          >
            Ver planes
          </button>
        </a>
      </p>
    </div>
  </div>
  <img
    class="hidden resp:block w-full"
    src="/E-commerceC2LandingPage-croppedresp.webp"
  />
</div>
<div class="md:mt-12">
  <div
    class="flex flex-row mt-2 md:mt-5 w-full tallratio:min-h-0 tallratio:h-auto bg-none bg-contain bg-no-repeat bg-right-bottom"
  >
    <img
      class="absolute -z-30 c2animate slide-in-blurred-left resp:hidden w-[60vw] max-w-[1800px] h-[auto] max-h-[900px] object-contain object-left-bottom left-10"
      src="/PortfolioMockupC2-croppedresp.webp"
    />
    <div
      class="c2animate slide-in-blurred-bottom flex flex-col 2xl:mx-40 md:mx-20 mx-5 w-full items-end"
    >
      <div class="flex flex-row-reverse w-[100%] 2xl:mt-10 md:mt-0 mt-2">
        <div class="flex flex-row gap-4 items-center">
          <p
            class="4xl:text-9xl 3xl:text-7xl 2xl:text-7xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl text-3xl font-['Bebas_Neue'] h-auto"
          >
            Portafolio y Catálogos
          </p>
          <div
            class="bg-violet-700 3xl:w-[8rem] 2xl:w-[7rem] xl:w-[6rem] md:w-[5rem] w-[3rem] 3xl:h-[8rem] 2xl:h-[7rem] xl:h-[6rem] md:h-[5rem] h-[3rem] rounded-full text-white 3xl:text-6xl 2xl:text-5xl xl:text-4xl md:text-3xl text-xl flex items-center justify-center"
          >
            <MdApps
              className="3xl:text-7xl 2xl:text-6xl xl:text-5xl md:text-4xl text-2xl"
            />
          </div>
        </div>
      </div>
      <p
        class="3xl:text-6xl xl:text-5xl md:text-2xl text-xl 2xl:mt-20 tallratio:mt-5 mt-5 h-auto md:w-[50%] text-end tallratio:w-full"
      >
        <span>
          Transformamos tu contenido en una poderosa herramienta de exhibición
          online. Dale vida a tu catálogo y destaca tu portafolio de manera
          digital.
        </span>
      </p>
      <p class="2xl:mt-32 md:mt-10 mt-10">
        <a href="/servicios/catalogos">
          <button
            class="w-auto bg-transparent border-[0.15rem] md:mt-3 mt-1 mb-20 resp:mb-0 border-black text-black hover:border-blue-700 hover:text-blue-700 transition duration-300 cursor-pointer font-['Bebas_Neue'] md:text-2xl text-xl md:px-8 px-3 md:py-3 py-2 rounded-3xl"
          >
            Ver planes
          </button>
        </a>
      </p>
    </div>
  </div>
  <img
    class="hidden resp:block w-full"
    src="/PortfolioMockupC2-croppedresp.webp"
  />
</div>
<div class="3xl:mt-5 md:mt-14">
  <div
    class="flex flex-row md:mt-20 w-full tallratio:min-h-0 tallratio:h-auto bg-none bg-contain bg-no-repeat bg-right-bottom"
  >
    <img
      class="absolute -z-30 c2animate slide-in-blurred-right resp:hidden w-[60vw] max-w-[1800px] h-[auto] max-h-[900px] object-contain object-right-bottom right-0 md:mt-40"
      src="/iPhone11AndMacbookPro-croppedmd.webp"
    />
    <div
      class="c2animate slide-in-blurred-bottom flex flex-col 2xl:mx-40 md:mx-20 mx-5 w-full"
    >
      <div class="flex flex-row w-[100%] 2xl:mt-10 md:mt-40 mt-2">
        <div class="flex flex-row gap-4 items-center">
          <div
            class="bg-blue-500 3xl:w-[8rem] 2xl:w-[7rem] xl:w-[6rem] md:w-[5rem] w-[3rem] 3xl:h-[8rem] 2xl:h-[7rem] xl:h-[6rem] md:h-[5rem] h-[3rem] rounded-full text-white 3xl:text-6xl 2xl:text-5xl xl:text-4xl md:text-3xl text-xl flex items-center justify-center"
          >
            <MdDevices
              className="3xl:text-7xl 2xl:text-6xl xl:text-5xl md:text-4xl text-2xl"
              slot="icon"
            />
          </div>
          <p
            class="4xl:text-9xl 3xl:text-7xl 2xl:text-7xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl text-3xl font-['Bebas_Neue'] h-auto"
          >
            Páginas Web Responsivas
          </p>
        </div>
      </div>
      <p
        class="3xl:text-6xl xl:text-5xl md:text-2xl text-xl 2xl:mt-20 tallratio:mt-5 mt-5 h-auto md:w-[40%] text-start tallratio:w-full"
      >
        <span>
          Optimizamos tu presencia digital para todos los dispositivos. Desde
          smartphones hasta computadoras, garantizamos una experiencia impecable
          en cada dispositivo.
          <span class="hidden bg-blue-500"></span>
        </span>
      </p>
      <p class="2xl:mt-32 md:mt-10 mt-10">
        <a href="/servicios/paginas-web">
          <button
            class="w-auto bg-transparent border-[0.15rem] md:mt-3 mt-1 mb-20 resp:mb-0 border-black text-black hover:border-blue-700 hover:text-blue-700 transition duration-300 cursor-pointer font-['Bebas_Neue'] md:text-2xl text-xl md:px-8 px-3 md:py-3 py-2 rounded-3xl"
          >
            Ver planes
          </button>
        </a>
      </p>
    </div>
  </div>
  <img
    class="hidden resp:block w-full"
    src="/iPhone11AndMacbookPro-croppedresp.jpg"
  />
</div>
<div class="3xl:mt-40 md:mt-14 md:mb-20">
  <div
    class="flex flex-row w-full tallratio:min-h-0 tallratio:h-auto bg-none bg-contain bg-no-repeat bg-right-bottom"
  >
    <img
      class="absolute -z-30 c2animate slide-in-blurred-left resp:hidden w-[60vw] max-w-[1800px] h-[auto] max-h-[900px] object-contain object-left-bottom left-0"
      src="/intDesignMockup-cropped.webp"
    />
    <div
      class="c2animate slide-in-blurred-bottom flex flex-col md:mt-0 mt-2 2xl:mx-40 md:mx-20 mx-5 w-full items-end"
    >
      <div class="flex flex-row-reverse w-[100%] 2xl:mt-10 md:mt-5 mt-2">
        <div class="flex flex-row gap-4 items-center">
          <p
            class="4xl:text-9xl 3xl:text-7xl 2xl:text-7xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl text-3xl font-['Bebas_Neue'] h-auto"
          >
            Aplicación móvil
          </p>
          <div
            class="bg-yellow-400 3xl:w-[8rem] 2xl:w-[7rem] xl:w-[6rem] md:w-[5rem] w-[3rem] 3xl:h-[8rem] 2xl:h-[7rem] xl:h-[6rem] md:h-[5rem] h-[3rem] rounded-full text-black 3xl:text-6xl 2xl:text-5xl xl:text-4xl md:text-3xl text-xl flex items-center justify-center"
          >
            <IoPhonePortraitOutline
              className="3xl:text-7xl 2xl:text-6xl xl:text-5xl md:text-4xl text-2xl"
              slot="icon"
            />
          </div>
        </div>
      </div>
      <p
        class="3xl:text-6xl xl:text-5xl md:text-2xl text-xl 2xl:mt-20 tallratio:mt-5 mt-5 h-auto md:w-[50%] text-end tallratio:w-full"
      >
        <span>
          Transformamos tus ideas en aplicaciones móviles impactantes.
          Desarrollamos soluciones personalizadas, intuitivas y funcionales que
          llevan tu marca a nuevas alturas en el mundo móvil.
        </span>
      </p>
      <p class="2xl:mt-32 md:mt-10 mt-10">
        <a href="/servicios/aplicaciones-moviles">
          <button
            class="w-auto bg-transparent border-[0.15rem] md:mt-3 mt-1 mb-20 resp:mb-0 border-black text-black hover:border-blue-700 hover:text-blue-700 transition duration-300 cursor-pointer font-['Bebas_Neue'] md:text-2xl text-xl md:px-8 px-3 md:py-3 py-2 rounded-3xl"
          >
            Ver planes
          </button>
        </a>
      </p>
    </div>
  </div>
  <img class="hidden resp:block w-full" src="/intDesignMockup.webp" />
</div>
