// @tailwind base;
// @tailwind components;
// @tailwind utilities;

h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

p,
ul,
button {
  font-family: "Smooch Sans", sans-serif;
  font-weight: 500;
}

.splide__arrow svg {
  fill: #fff !important;
}

.splide__pagination {
  bottom: -1.5em !important;
}
.splide__pagination li button {
  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  background: transparent !important;
  opacity: 1 !important;
  transform: none !important;
}
.splide__pagination li button:hover,
.splide__pagination li button:focus {
  outline: none;
  opacity: 1 !important;
}
.splide__pagination li button:hover:before,
.splide__pagination li button:focus:before {
  opacity: 1;
}
.splide__pagination li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  text-align: center;
  opacity: 1;
  background: #b1becf;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.splide__pagination li button.is-active:before {
  opacity: 1;
  background: #fff;
  border: solid 3px #1c212c;
}

@media (prefers-reduced-motion: no-preference) {
  .c2animate.slide-in-blurred-left-long {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  .c2animate.c2animate-init.c2animate-start.slide-in-blurred-left-long {
    transition-property: all;
    transition-duration: 1.6s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  .c2animate.c2animate-init.c2animate-visible.slide-in-blurred-left-long {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  .c2animate.slide-in-blurred-left {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  .c2animate.c2animate-init.c2animate-start.slide-in-blurred-left {
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.4s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  .c2animate.c2animate-init.c2animate-visible.slide-in-blurred-left {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  .c2animate.slide-in-blurred-right {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  .c2animate.c2animate-init.c2animate-start.slide-in-blurred-right {
    transition-property: all;
    transition-duration: 0.6s;
    transition-delay: 0.4s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  .c2animate.c2animate-init.c2animate-visible.slide-in-blurred-right {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  .c2animate.slide-in-blurred-bottom {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  .c2animate.c2animate-init.c2animate-start.slide-in-blurred-bottom {
    transition-property: all;
    transition-duration: 0.6s;
    transition-delay: 0.4s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  .c2animate.c2animate-init.c2animate-visible.slide-in-blurred-bottom {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  .c2animate.fade-in-bottom {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  .c2animate.c2animate-init.c2animate-start.fade-in-bottom {
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.4s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  .c2animate.c2animate-init.c2animate-visible.fade-in-bottom {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
