---
import C2MainPage from "../../components/MainPage.astro";
import C2NavHeader from "../../components/NavHeader.astro";
import C2ProyectosThumb from "../../components/ProyectosThumb.astro";
---

<C2MainPage>
  <section class="">
    <C2NavHeader invisible={true} />
    <h2
      class="text-center text-6xl 3xl:text-7xl mt-5 bg-clip-text text-transparent bg-gradient-to-r from-blue-950 via-blue-700 to-blue-950"
    >
      Proyectos
    </h2>
    <div class="grid 3xl:grid-cols-4 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 minimun:grid-cols-1 justify-items-center gap-10 mt-5">
      <C2ProyectosThumb title="SERØ Data Management" image="/serobucle.gif">
        <span>
          Aplicación Web para manejo de datos funcional para cualquier empresa o
          emprendedor con funciones como: una tabla de excel online, una lista
          de contactos,relleno de formularios,registro de pagos, y panel de
          control para llevar un plano general del progreso.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Melao Bags" image="/melaobagslandingpage.png">
        <span>
          E-commerce de la marca reversible de carteras con funciones de compra
          con una presentación de catálogo donde se muestran todos los productos
          con sus precios respectivos.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="SERØ Data Management" image="/serobucle.gif">
        <span>
          Aplicación Web para manejo de datos funcional para cualquier empresa o
          emprendedor con funciones como: una tabla de excel online, una lista
          de contactos,relleno de formularios,registro de pagos, y panel de
          control para llevar un plano general del progreso.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Melao Bags" image="/melaobagslandingpage.png">
        <span>
          E-commerce de la marca reversible de carteras con funciones de compra
          con una presentación de catálogo donde se muestran todos los productos
          con sus precios respectivos.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="SERØ Data Management" image="/serobucle.gif">
        <span>
          Aplicación Web para manejo de datos funcional para cualquier empresa o
          emprendedor con funciones como: una tabla de excel online, una lista
          de contactos,relleno de formularios,registro de pagos, y panel de
          control para llevar un plano general del progreso.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Melao Bags" image="/melaobagslandingpage.png">
        <span>
          E-commerce de la marca reversible de carteras con funciones de compra
          con una presentación de catálogo donde se muestran todos los productos
          con sus precios respectivos.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="SERØ Data Management" image="/serobucle.gif">
        <span>
          Aplicación Web para manejo de datos funcional para cualquier empresa o
          emprendedor con funciones como: una tabla de excel online, una lista
          de contactos,relleno de formularios,registro de pagos, y panel de
          control para llevar un plano general del progreso.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Melao Bags" image="/melaobagslandingpage.png">
        <span>
          E-commerce de la marca reversible de carteras con funciones de compra
          con una presentación de catálogo donde se muestran todos los productos
          con sus precios respectivos.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="SERØ Data Management" image="/serobucle.gif">
        <span>
          Aplicación Web para manejo de datos funcional para cualquier empresa o
          emprendedor con funciones como: una tabla de excel online, una lista
          de contactos,relleno de formularios,registro de pagos, y panel de
          control para llevar un plano general del progreso.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Melao Bags" image="/melaobagslandingpage.png">
        <span>
          E-commerce de la marca reversible de carteras con funciones de compra
          con una presentación de catálogo donde se muestran todos los productos
          con sus precios respectivos.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="SERØ Data Management" image="/serobucle.gif">
        <span>
          Aplicación Web para manejo de datos funcional para cualquier empresa o
          emprendedor con funciones como: una tabla de excel online, una lista
          de contactos,relleno de formularios,registro de pagos, y panel de
          control para llevar un plano general del progreso.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Melao Bags" image="/melaobagslandingpage.png">
        <span>
          E-commerce de la marca reversible de carteras con funciones de compra
          con una presentación de catálogo donde se muestran todos los productos
          con sus precios respectivos.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="SERØ Data Management" image="/serobucle.gif">
        <span>
          Aplicación Web para manejo de datos funcional para cualquier empresa o
          emprendedor con funciones como: una tabla de excel online, una lista
          de contactos,relleno de formularios,registro de pagos, y panel de
          control para llevar un plano general del progreso.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Melao Bags" image="/melaobagslandingpage.png">
        <span>
          E-commerce de la marca reversible de carteras con funciones de compra
          con una presentación de catálogo donde se muestran todos los productos
          con sus precios respectivos.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="SERØ Data Management" image="/serobucle.gif">
        <span>
          Aplicación Web para manejo de datos funcional para cualquier empresa o
          emprendedor con funciones como: una tabla de excel online, una lista
          de contactos,relleno de formularios,registro de pagos, y panel de
          control para llevar un plano general del progreso.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Melao Bags" image="/melaobagslandingpage.png">
        <span>
          E-commerce de la marca reversible de carteras con funciones de compra
          con una presentación de catálogo donde se muestran todos los productos
          con sus precios respectivos.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="SERØ Data Management" image="/serobucle.gif">
        <span>
          Aplicación Web para manejo de datos funcional para cualquier empresa o
          emprendedor con funciones como: una tabla de excel online, una lista
          de contactos,relleno de formularios,registro de pagos, y panel de
          control para llevar un plano general del progreso.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Melao Bags" image="/melaobagslandingpage.png">
        <span>
          E-commerce de la marca reversible de carteras con funciones de compra
          con una presentación de catálogo donde se muestran todos los productos
          con sus precios respectivos.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
      <C2ProyectosThumb title="Texto" image="/melaobagslandingpage.png">
        <span>
          Texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto texto texto texto texto texto texto texto
          texto.
        </span>
      </C2ProyectosThumb>
    </div>
  </section>
</C2MainPage>
