<html lang="es" class="bg-[#05368b]">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/c2logosquare.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C² Developer Group | Mercantil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch+Sans:wght@500;700;800;900&display=swap"
    />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    /> -->
  </head>
  <body>
    <section class="w-full h-full">
      <div class="w-full h-auto flex justify-end">
        <div class="grid grid-cols-1 mt-40 mr-[40%] ml-[10%] gap-10 absolute">
          <div>
            <h2 class="text-white text-7xl font-bold">
              Ahorra de manera <br />
              <span class="text-orange-500"> efectiva y segura </span>
            </h2>
          </div>
          <p class="text-white text-xl font-light">
            Comienza a ahorrar hoy mismo y descubre cómo el <br /> banco Mercantil
            puede ayudarte a alcanzar <br /> tus sueños financieros
          </p>
        </div>
        <img src="/mercantillandingpageman.png" class="w-6/12 -z-10" />
      </div>
    </section>
    <section
      class="bg-white text-[#05368b] flex justify-center gap-[20%] py-10 content-center"
    >
      <div class="flex align-middle z-10">
        <p class="m-auto text-xl ml-64">
          Con nuestra amplia gama de opciones de <br /> ahorro, puedes personalizar
        </p>
      </div>
      <div>
        <button class="bg-[#05368b] text-white rounded-3xl py-2 px-4 mr-48 z-10"
          >conocer más</button
        >
      </div>
      <div class="absolute">
        <img
          src="/mapamercantil.png"
          class="mix-blend-difference opacity-10 -mt-20"
        />
      </div>
    </section>
    <section class="py-40">
      <h2 class="text-white text-6xl font-bold text-center">
        Ingresa de forma segura
      </h2>
    </section>
    <section>
      <div class="flex">
        <div
          class="bg-gradient-to-b from-blue-900 to-blue-950 p-40 hover:scale-110 duration-300 transition-all hover:bg-gradient-to-b hover:from-orange-950 hover:to-orange-500"
        >
          Hola
        </div>
        <div class="w-1/4 bg-[url('/mercantilenlineapersona.jpg')] hover:bg-[url('/mercantilenlineapersonahover.jpg')] transition duration-300">
        </div>
      </div>
    </section>
  </body>
</html>
